Shop.Front/Middleware
Shop.Front/obj
Shop.Front/bin
Middleware/private-key.pem
Middleware/certificate.pem
Middleware/certificate.csr
appsettings.Development.json
appsettings.json
Shop.Front.csproj
Shop.Front.sln
