@{}
<button id="logout" type="submit" class="btn btn-danger btn-block mb-4">Sair</button>

<script type="module">
  import { Input, Tab, Ripple, initMDB } from "/js/mdb.es.min.js"
  initMDB({ Input, Tab, Ripple });
</script>
<!-- Include the script that will handle the form submission -->
<script src="~/js/logout.session.js" asp-append-version="true"></script>

<!-- Include SweetAlert2 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<!-- Include SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>